.login-form {
    width: 100%;
    max-width:330px;
    padding:15px;
    margin: auto;
    height: 100%;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    position: absolute;
    top: 0;
    left:0;
}

.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 50px ;
    background-color: lavender;
    min-height: 400px
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.name {
    font-weight: bold;
    text-align: left;
    float: left;
    font-size: small;
}

h4 {
    font-weight: normal;
    margin-bottom: 20px;
}

